#TabsToolbar {
	visibility: collapse !important;
}

#nav-bar, #nav-bar > * {
	-moz-window-dragging: drag;
}

#nav-bar:not([inFullscreen]) {
	margin-left: 76px;
}

#TabsToolbar .titlebar-buttonbox-container {
	position: absolute;
	display: block;
	padding-top: 12px;
	width: 80px;
	height: 40px;
	visibility: visible !important;
	background-color: #f9f9fb;
	-moz-window-dragging: drag;
}

@media (prefers-color-scheme: dark) {
	#TabsToolbar .titlebar-buttonbox-container {
		background-color: #2b2934;
	}
}

#sidebar-box {
  min-width: 2.8rem !important;
  transition: min-width 0.15s ease-in-out;
}

#sidebar-box:hover {
	min-width: 18rem !important;
}

#sidebar-header {
	visibility: collapse !important;
}
